
body {
    text-align:center;
<<<<<<< HEAD
   /* background-image: url("images/harry2.jpg"); */
    background-size: "500px 500px"
=======
     
>>>>>>> b062c503ff8a43eb3a7c1cf266da445d926936a1
}
canvas {
    
    border: 2px solid black;
<<<<<<< HEAD
<<<<<<< HEAD
/*width: 1000;
    height: 1000;*/
=======
    background: gray;
>>>>>>> d87443fa397fe4df99614cb98b0aade4459e0728
=======
    height: "600";
    width: "600";

>>>>>>> b062c503ff8a43eb3a7c1cf266da445d926936a1
}

/*#playArea{
    background-image: url("images/backgroundharry.jpg");
}
*/
p{
    float: left;
}
h3.title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;		
    display: block;
    float: left;
    color: #E2B4B4;
  }
p{
    text-align: center;
    color: #E2B4B4;
}



.button {
    background-color: #353449; /* Green */
    color:white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}
.button1{
    background-color:   #353449;
    border-radius: 8px;
}
.button2{
    background-color: #353449;
    border-radius: 8px;
}


.container {
    width: 800px;
    margin: 0 auto; }
  
  .scores-container {
    float: right;
    text-align: right;
    height: 50px;
    width:140px; 
  }
  
  .score-container, .best-container {
    position: relative;
    display: inline-block;
    
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center; }
    .score-container:after, .best-container:after {
      position: absolute;
      width: 100%;
      top: 10px;
      left: 0;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 13px;
      text-align: center;
      color: #eee4da;
      height: 30px;
      
   }
  .score-container:after {
    content: "Score"; }
  
  .best-container:after {
    content: "Best"; }
  

    .row1{
        height: 90px;
        width:800px;
    }
    